@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: red;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
